<!-- Exercise 1 -->
<img
  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.x0SbGJWTnBJ2Pa6gUIxh3wHaEc%26pid%3DApi&f=1&ipt=280eb73d57455f774f51c9e7d2e0c37273f21bb0282bbb9e6a40563dbaa265ff&ipo=images"
  alt="BOOK   "
  class="img"
  [width]="width"
  [height]="height"
/>
<hr />

<!-- Exercise 2 -->
<button (click)="logConsole()">Click me to log to the console</button>
<hr />

<!-- Exercise 3 -->
<!-- Event Binding -->
<input type="text" [disabled]="isDisabled" class="input" />
<button (click)="toggleDisable()">
  Click me to change the value of isDisabled
</button>
<p>{{ isDisabled ? "Currently Disabled" : "Not Disabled" }}</p>
<hr />

<!-- Exercise 4 -->
<h1>{{ title }}</h1>
<input type="text" [(ngModel)]="title" />
<hr />

<h1>{{ title }}</h1>
<input type="text" [value] = "title" (input)="title = $event.target.value">
<hr />

<!-- Exercise 6 -->
<p>"Show me when isShow is true! Otherwise, don't show me!"</p>
